@import'../globals/global';
.backgroundRocket {
    z-index: -2;
    height: 10px;
    position: absolute;
    top: $y*260.220px;
}

.bgRocket {
    position: absolute;
    top: 100px;
    left: -7.999664306640625px;
    width: 1928px;
    height: 941px;
}

.circle {
    position: absolute;
    top: 290px;
    left: 1290px;
}

.tri1 {
    position: absolute;
    z-index: 100;
    color: #FFFFFF;
    top: 219px;
    left: 1079px;
    width: 46px;
    height: 45px;
    transform: matrix(0.62, 0.79, -0.79, 0.62, 0, 0);
}

.tri2 {
    position: absolute;
    top: -50px;
    left: 1247px;
    width: 324px;
    height: 285px;
}

.tri3 {
    position: absolute;
    top: 200px;
    left: 999px;
    width: 42px;
    height: 40px;
    transform: matrix(0.39, 0.92, -0.92, 0.39, 0, 0);
}

.tri4 {
    position: absolute;
    top: 540px;
    left: 631px;
    width: 209px;
    height: 206px;
    transform: matrix(-0.64, -0.77, 0.77, -0.64, 0, 0);
}

.tri5 {
    position: absolute;
    top: 422px;
    left: 1680px;
    width: 358px;
    height: 320px;
    transform: matrix(-0.12, 0.99, -0.99, -0.12, 0, 0);
}

.tri6 {
    position: absolute;
    top: 899px;
    left: 1532px;
    width: 148px;
    height: 130px;
    transform: matrix(-0.05, 1, -1, -0.05, 0, 0);
    border: 1px solid #209CD9;
}

.tri7 {
    position: absolute;
    z-index: 100;
    top: 1020px;
    left: 1397px;
    width: 718px;
    height: 720px;
    transform: matrix(-0.72, 0.69, -0.69, -0.72, 0, 0);
}