@import'../globals/global';
.backgroundRocket {
    z-index: 1;
    height: 10px;
    position: absolute;
    top: 260.220px;
}

.bg-rectangle {
    position: absolute;
    background: #0E77FF;
    z-index: 7;
    top: 2360px;
    left: 1418px;
    width: 502px;
    height: 889px;
}

.bgRocket {
    position: absolute;
    top: -30+100px;
    left: -7.999664306640625px;
    width: 1928px;
    height: 941px;
}

.circle {
    position: absolute;
    top: -30+290px;
    left: 1290px;
}

.tri1 {
    position: absolute;
    z-index: 100;
    color: #FFFFFF;
    top: -30+-21px;
    left: 1079px;
    width: 46px;
    height: 45px;
}

.tri2 {
    position: absolute;
    top: -30+-50px;
    left: 1247px;
    width: 324px;
    height: 285px;
}

.tri3 {
    position: absolute;
    top: -30+70px;
    left: 999px;
    width: 42px;
    height: 40px;
}

.tri4 {
    position: absolute;
    top: -30+540px;
    left: 631px;
    width: 209px;
    height: 206px;
}

.tri5 {
    position: absolute;
    top: -30+250px;
    left: 1680px;
    width: 358px;
    height: 320px;
}

.tri6 {
    position: absolute;
    top: -30+899px;
    left: 1532px;
    width: 148px;
    height: 130px;
    transform: matrix(-0.05, 1, -1, -0.05, 0, 0);
}

.tri7 {
    position: absolute;
    z-index: 100;
    top: 850px;
    left: 1397px;
    width: 718px;
    height: 720px;
}

.tri8 {
    position: absolute;
    top: -30+45px;
    left: 1184px;
    width: 68px;
    height: 70px;
    transform: matrix(0.79, 0.62, -0.62, 0.79, 0, 0);
}

.tri9 {
    position: absolute;
    top: -30+250px;
    left: 1184px;
    width: 46px;
    height: 53px;
}

.tri10 {
    position: absolute;
    top: -30+150px;
    left: 1634px;
    width: 46px;
    height: 53px;
}

.tri11 {
    position: absolute;
    top: -30+400px;
    left: 1540px;
    width: 82px;
    height: 94px;
}

.tri12 {
    position: absolute;
    top: -30+305px;
    left: 1023px;
    width: 82px;
    height: 94px;
}

.tri13 {
    position: absolute;
    top: -30+504px;
    left: 939px;
    width: 58px;
    height: 52px;
}

.tri14 {
    position: absolute;
    top: -30+600px;
    left: 1639px;
    width: 62px;
    height: 60px;
}

.tri15 {
    position: absolute;
    top: -30+690px;
    left: 1532px;
    width: 148px;
    height: 130px;
}

.tri16 {
    position: absolute;
    top: -30+700px;
    left: 1432px;
    width: 25px;
    height: 27px;
}