    @import'../globals/global';
    .card-box {
        min-width: $x*379px;
        min-height: $y*348px;
        margin: 2px;
        .rectangle {
            height: $y*45px;
            width: $x*121px;
            background-color: #16B2FF17;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 31px;
            font: normal normal 600 20px/50px Poppins;
            color: #0E77FF;
            margin-bottom: $y*27px;
        }
        img {
            margin-top: $y*13px;
            margin-bottom: $y*17px;
        }
        .heading {
            font-family: Poppins;
            font-size: 0.7*36px;
        }
        .subtext {
            width: $x*360px;
            font-family: Poppins;
            text-align: left;
            margin-bottom: $y*20px;
            font-size: 0.7*16px;
        }
    }