@import'../globals/global';
.caseStudies {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    background: white;
    .bg-img-casestudies {
        position: absolute;
        z-index: 0;
        top: 7200px;
        left: -110.42431640625px;
        width: 2068px;
        height: 907px;
    }
    .heading {
        text-align: left;
        font: normal normal 600 40px/50px Poppins;
        margin-bottom: 19px;
    }
    .subtext {
        width: 881px;
        text-align: center;
        font: normal normal 300 18px/32px Poppins;
        margin-bottom: 63px;
    }
    .row {
        width: 100%;
        display: flex;
    }
    .caseCard {
        height: 100%;
        width: $x*519px;
        border-radius: 12px 12px 0px 0px;
        margin-right: $x*41px;
        .iwp {
            width: 253px;
            margin-top: 41px;
            text-align: left;
            font-size: 24px;
            font-family: Poppins;
            font-weight: 600;
        }
        .cntnt {
            margin-top: 20.41px;
            width: 445px;
            text-align: left;
            font: normal normal 300 16px/30px Poppins;
        }
    }
    .rectanglea {
        font: normal normal normal 25px/31px Muli;
        margin-top: $y*85px;
        margin-bottom: $y*251px;
        width: $x*239px;
        height: $y*72px;
        border-radius: 35px;
        border: 2px solid #0E77FF;
        display: grid;
        place-items: center;
        align-items: center;
        color: #0E77FF;
    }
    .lefti {
        margin-left: 140px;
        margin-right: 41px;
    }
    .midd {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 40px #0E77FF26;
    }
    .righti {
        margin-right: 140px;
        margin-left: 41px;
    }
    .read-more {
        color: #0E77FF;
        margin-top: 7.71px;
        text-align: left;
        font: normal normal normal 20px/47px Poppins;
        .row {
            display: flex;
            align-items: flex-start;
            .arr {
                width: $x*6.98px;
                height: $y*12.24px;
                filter: invert(34%) sepia(86%) saturate(2650%) hue-rotate(203deg) brightness(98%) contrast(106%);
            }
        }
    }
    .sm-box {
        margin-left: $x*39.84px;
    }
    .rdmr {
        margin-left: $x*10.39px;
    }
}