    @import'../globals/global';
    .coreTechnologies {
        margin-top: 650px;
        height: $y*1197px;
        display: flex;
        flex-direction: column;
        place-items: center;
        justify-content: center;
        .heading {
            text-align: left;
            font: normal normal 600 40px/50px Poppins;
            margin-bottom: 40px;
        }
        .subheading {
            width: 881px;
            text-align: center;
            font: normal normal 300 18px/32px Poppins;
            margin-bottom: $y*36px;
        }
        .rectangley {
            background: white 0% 0% no-repeat padding-box;
            box-shadow: 0px 40px 60px #0E77FF26;
            border-radius: 72px;
            margin-top: 36px;
            padding-left: 30px;
            padding-right: 30px;
            width: 694px;
            height: 81px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 72px;
            margin-bottom: 136px;
            font: normal normal normal 20px/50px Poppins;
            .left {
                text-align: left;
            }
            .lr-brdr {
                border-right: 2px solid black;
                border-left: 2px solid black;
                display: grid;
                place-items: center;
                width: 239px;
                height: 45px;
            }
            .middle {
                color: #81B7FF;
            }
            .right {
                text-align: right;
            }
        }
        .icons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 80%;
            .blue {
                background: #0E77FF;
                border: 1px solid #707070;
            }
            .square {
                height: 140px;
                width: 140px;
                border-radius: 9px;
                margin-bottom: 51px;
                margin-right: 77px;
                display: grid;
                place-items: center;
                border: 1px solid #0E77FF;
                img {
                    height: 60%;
                    width: 60%;
                }
            }
        }
    }