@import'../globals/global';
.designing {
    z-index: 6;
    position: absolute;
    top: 2821px;
    left: 1021px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 60px #0E77FF26;
    padding-left: 58px;
    padding-top: 36px;
    padding-bottom: 94px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .heading {
        display: flex;
        margin-bottom: 36px;
        .Group35621 {
            align-self: center;
            width: 97px;
            height: 97px;
        }
        .subheadingss {
            width: 560px;
            height: 152px;
            text-align: left;
            font: normal normal normal 16px/30px Poppins;
        }
        .head-des {
            margin-left: 33px;
            text-align: left;
            font: normal normal 600 44px/110px Poppins;
        }
    }
    .list {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        .item {
            display: flex;
            align-items: center;
        }
        .item-text {
            margin-left: $x*14px;
        }
    }
}