#rectangle {
    height: 72px;
    width: 239px;
    background-color: white;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    .content {
        font: normal normal normal 25px/31px Muli;
        margin-right: 8.84px;
    }
    .arrow {
        width: 6.98px;
        height: 12.25px;
        margin: 0px;
        margin-bottom: 5px;
    }
}