#rectangle {
    height: 72px;
    width: 239px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    .content {
        font-size: 25px;
        width: 134px;
        font-family: Muli;
        padding-right: 0px;
        text-align: center;
    }
    .arrow {
        width: 6.98px;
        height: 12.25px;
        margin: 0px;
    }
}