@import'../globals/global';
.ourServices {
    margin-top: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 584px;
    .ml36 {
        margin-left: 36px;
    }
    .ml23 {
        margin-left: 23px;
    }
    .mb19 {
        margin-bottom: 19px;
    }
    .mb36 {
        margin-bottom: 36px;
    }
    .row {
        display: flex;
        align-items: center;
        margin-left: 280px;
        img {
            width: 38px;
            height: 47px;
        }
    }
    .subHeading {
        text-align: left;
        font: normal normal 600 25px/50px Poppins;
        color: #0E77FF;
    }
    .mainHeading {
        margin-top: 11px;
        width: 500px;
        margin-left: 280px;
        font: normal normal 600 40px/50px Poppins;
        margin-bottom: $y*50px;
    }
    .box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 280px;
        text-align: left;
        font: normal normal 600 20px/50px Poppins;
        color: #0E77FF;
        .rectangle {
            height: 72px;
            width: 239px;
            background-color: #16B2FF17;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            color: #0E77FF;
            transition: all 0.4s;
            &:hover {
                background: #0E77FF;
                color: white;
            }
        }
        .selected {
            background: #0E77FF;
            color: white;
        }
    }
}