@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import'./globals/global';
body {
    overflow: scroll;
    background: #0E77FF;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
}

#heading1 {
    margin-top: $y*120px;
    margin-left: $x*226px;
}

#subheading1 {
    margin-left: $x*226px;
    margin-top: $y*48.5;
    color: #9ABFFF;
}

.getStarted {
    margin-left: $x*226px;
    margin-top: $y*40.5px;
}

.page2 {
    z-index: 2;
    margin-top: 330px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}