@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import'./globals/global';
body {
    height: 1080px;
    width: 1920px;
    max-width: 100%;
    overflow-x: hidden;
    background: #0E77FF;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
}

.headings01 {
    margin-top: 160px;
    font-size: 55px;
    width: 531px;
    margin-left: 226px;
    font-family: Poppins;
    font-weight: 600;
    color: white;
    margin-bottom: 48.5px;
}

.subheadings01 {
    margin-left: 225px;
    font-size: 20px;
    text-align: left;
    width: 735px;
    color: #9ABFFF;
}

.getStarted {
    margin-left: 225px;
    margin-top: 40.5px;
}

.page2 {
    z-index: 2;
    height: 2403.03px;
    width: 2017px;
    margin-top: 330px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bl-rec {
    position: relative;
    width: 502px;
    height: 889px;
}

.blue-dots {
    position: absolute;
    top: 2000px;
    left: 1578px;
    width: 560px;
    height: 581px;
    z-index: 5;
}

.page3 {
    z-index: 2;
    padding-top: 287px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
}

._3w-2b-tri {
    position: absolute;
    top: 4654px;
    left: -137.46983337402344px;
    width: 720px;
    height: 564px;
}

.page4 {
    z-index: 2;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
}

.page5 {
    z-index: 2;
    padding-top: $y*200px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
}

.page6 {
    z-index: 2;
    background-color: white;
    margin-bottom: 0px;
    .message-img {
        position: absolute;
        top: 8747px;
        left: 22px;
        width: 874px;
        height: 589px;
    }
    .msg-img-bg {
        z-index: 1;
        position: absolute;
        top: 8668px;
        left: -0.00048828125px;
        width: 1920px;
        height: 1120px;
    }
}

.footer {
    z-index: 5;
}