@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import'./globals/global';
body {
    overflow: scroll;
    background: #0E77FF;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
}

#heading1 {
    margin-top: $y*120px;
    margin-left: $x*226px;
}

#subheading1 {
    margin-left: $x*226px;
    margin-top: $y*48.5;
    color: #9ABFFF;
}

.getStarted {
    margin-left: $x*226px;
    margin-top: $y*40.5px;
}

.page2 {
    z-index: 2;
    margin-top: 330px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.page3 {
    z-index: 2;
    padding-top: $y*287px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
}

.page4 {
    z-index: 2;
    padding-top: $y*295px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
}

.page5 {
    z-index: 2;
    padding-top: $y*200px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
}

.page6 {
    z-index: 2;
    background-color: white;
    margin-bottom: 0px;
    img {
        margin-top: $y*395px;
        margin-bottom: 0%;
        padding-bottom: 0px;
        width: $x*894px;
        height: $y*588px;
    }
}

.footer {
    padding-top: 0px;
    margin-top: 0px;
    background-color: #0E77FF;
}